[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
twine = "*"

[packages]
"bs4" = "*"
urllib3 = ">=1.24.2"
requests = "*"

[requires]
python_version = "3.7"
